@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 61.5%;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: #29d9d5;
  font-size: 2rem;
}
.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background-color: none;
}
.button:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0;
}
.header .navbar a:hover {
  color: #29d9d5;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.logo i {
  color: #29d9d5;
  padding-right: 0.5rem;
}

#menu-button {
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.Home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(mily\ way.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.Home .content {
  text-align: center;
}
.Home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}
.Home .content h3 {
  font-size: 6vw;
  color: #fff;
}
.Home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.book-form {
  width: 65%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #222;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}
.book-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.book-form form .input {
  flex: 1 1 20rem;
}
.book-form form span {
  font-size: 1.4rem;
  color: #aaa;
}
.book-form form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
.book-form form .button {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background-color: none;
  flex: 1 1 20rem;
}
.book-form form .button:hover {
  background: #29d9d5;
  color: #111;
}

.About {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.About .video-container {
  flex: 1 1 42rem;
}
.About .video-container .video {
  border-radius: 1rem;
  width: 100%;
}
.About .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}
.About .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.About .content span {
  color: #29d9d5;
  font-size: 2rem;
}
.About .content h3 {
  color: #fff;
  font-size: 5rem;
  margin-top: 0.5rem;
}
.About .content p {
  padding: 1rem 0;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2;
}

.Destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.Destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}
.Destination .box-container .box:hover img {
  transform: scale(1.1);
}
.Destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.Destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.Destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #29d9d5;
}
.Destination .box-container .box .content p {
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
}
.Destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}
.Destination .box-container .box .content a:hover i {
  padding-right: 1rem;
}
.Destination .box-container .box .content a i {
  padding: 5rem;
}

.Services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.Services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}
.Services .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}
.Services .box-container .box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}
.Services .box-container .box h3 {
  font-size: 2rem;
  color: #29d9d5;
}
.Services .box-container .box p {
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
}

.Gallery .box-container {
  -moz-columns: 3 25rem;
       columns: 3 25rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.Gallery .box-container .box {
  margin-bottom: 1rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.Gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.Gallery .box-container .box span {
  font-size: 1.6rem;
  color: #29d9d5;
  font-weight: bolder;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
}
.footer .box-container .box .logo {
  padding-bottom: 1rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #29d9d5;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box .share {
  padding-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  list-style: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: 0.5rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background: #29d9d5;
  color: #111;
}
.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box .links:hover {
  color: #29d9d5;
}
.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}
.footer .box-container .box .links i {
  padding-right: 0.5rem;
  color: #29d9d5;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  #menu-button {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .Home {
    margin-top: 10rem;
  }
  .Home .content span {
    font-size: 8vw;
  }
  .Home .content h3 {
    font-size: 9vw;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
}/*# sourceMappingURL=finalwebsite.css.map */