@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 10px;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17,17,17,.7);
$border: .2rem solid $blue;

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html{
    font-size: 61.5%;
    
}

body{
    background: $black;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;

    span{
        color: $blue;
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
        color: $white;
    }
}

.button{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $blue;
    border: $border;
    border-radius: 5rem;
    cursor: pointer;
    background-color: none;

    &:hover{
        background: $blue;
        color: $black;
    }
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

    .navbar a{
        font-size: 1.7rem;
        color: $light-color;
        display: inline-block;
        margin: 0;

        &:hover{
            color: $blue;
        }
    }
}

.logo{
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    i{
        color: $blue;
        padding-right: .5rem;
    }
}

#menu-button{
    font-size: 2.6rem;
    color: $white;
    cursor: pointer;
    display: none;
}

.Home{
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background:linear-gradient($black-bg, $black-bg), url(mily\ way.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content{
        text-align: center;

        span{
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw;
            display: block;
        }

        h3{
            font-size: 6vw;
            color: $white;
        }

        p{
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }
    }
}

.book-form{
    width: 65%;
    margin: 1rem auto; 
    margin-top: -5rem;
    background: $bg-color;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17,17,17,.3);
    

    form{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1.5rem;

        .input{
            flex: 1 1 20rem;
        }

        span{
            font-size: 1.4rem;
            color: $light-color;
        }

        input{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border-radius: 5rem;
            border: $border;
            font-size: 1.6rem;
            color: $light-color;
            text-transform: none;
            background: none;
            margin-top: 1rem;
        }

        .button{
            margin-top: 1rem;
            display: inline-block;
            font-size: 1.7rem;
            color: $blue;
            border: $border;
            border-radius: 5rem;
            cursor: pointer;
            background-color: none;
            flex: 1 1 20rem;
        
            &:hover{
                background: $blue;
                color: $black;
            }
        }
    }
}

.About{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-container{
        flex: 1 1 42rem;

        .video{
            border-radius: 1rem;
            width: 100%;
        }

        .controls{
            text-align: center;
            padding: 2rem 0;
        }
    }
    .content{
        flex: 1 1 42rem;
        margin-bottom: 5rem;

        span{
            color: $blue;
            font-size: 2rem;
        }

        h3{
            color: $white;
            font-size: 5rem;
            margin-top: .5rem;
        }
        p{
            padding: 1rem 0;
            color: $white;
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}

.Destination .box-container{
    @include grid(27rem);

    .box{
        border-radius: 1rem;
        overflow: hidden;
        background: $bg-color;

        &:hover img{
            transform: scale(1.1);
        }

        .image{
            height: 20rem;
            overflow: hidden;
            width: 100%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content{
            padding: 2rem;
            text-align: center;

            h3{
                font-size: 2rem;
                color: $blue;
            }
            p{
                padding: 0.5rem 0;
                color: $white;
                font-size: 1.2rem;
                line-height: 2;
            }
            a{
                font-size: 1.7rem;
                color: $blue;

                &:hover i{
                    padding-right: 1rem;
                }

                i{
                    padding: 5rem;
                }
            }
        }
    }
}

.Services .box-container{
    @include grid(32rem);

    .box{
        background: $bg-color;
        border-radius: 1rem;
        padding: 3rem;
        text-align: center;
        border: .2rem solid $black;

        &:hover{
            border: $border;
        }

        i{
            font-size: 4rem;
            color: $blue;
            margin-bottom: 2rem;
        }

        h3{
            font-size: 2rem;
            color: $blue;
        }

        p{
            padding: 0.5rem 0;
            color: $white;
            font-size: 1.2rem;
            line-height: 2;
        }
    }
}

.Gallery .box-container{
    columns: 3 25rem;
    column-gap: 1.5rem;

    .box{
        margin-bottom: 1rem;
        break-inside: avoid;

        img{
            width: 100%;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        span{
            font-size: 1.6rem;
            color: $blue;
            font-weight: bolder;
        }
    }
}

.footer{
    .box-container{
        @include grid(25rem);

        .box{
            padding: 1rem 0;

            .logo{
                padding-bottom: 1rem;
            }

            h3{
                font-size: 2.2rem;
                color: $white;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
                color: $blue;
                padding: 1rem 0; 
                line-height: 2;
            }
            .share{
                padding-top: 1rem;

                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    list-style: 4rem;
                    font-size: 2rem;
                    border-radius: 50%;
                    font-size: 1.7rem;
                    border: $border;
                    color: $blue;
                    margin-right: .5rem;
                    text-align: center;

                    &:hover{
                        background: $blue;
                        color: $black;
                    }
                }
            }

            .links{
                font-size: 1.4rem;
                color: $light-color;
                padding: 1rem 0;
                display: block;

                &:hover{
                    color: $blue;

                    i{
                        padding-right: 2rem;
                    }
                }
                i{
                    padding-right: .5rem;
                    color: $blue;
                }
            }
        }
    }
}



















@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px){

    #menu-button{
        
        display: inline-block;
    }
    .header{
        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: $bg-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a{
                margin: 2rem;
                font-size: 2rem;
                display: block;
            }
        }
    }

    .Home{
        margin-top: 10rem;

        .content{
            span{
                font-size: 8vw;
            }
            h3{
                font-size: 9vw;
            }
        }
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .about .content h3{
        font-size: 3.5rem;
    }
}